.my-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }
  
  .container{
    margin-top: 5%;
  }

  ::ng-deep .mat-snack-bar-container{
    position: absolute !important;
    top: 60px;
    right:500px;
    color: white !important;
    background-color: rgb(73, 172, 43) !important;
    border-color: #c3e6cb !important;
  }
  ::ng-deep .mat-simple-snackbar-action {
    color: white;
  }