<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
<div class="content-dialog">
    <h5 class="text-center">Reset Password</h5>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="start center">
        <!-- <div class="w100p" fxFlex="100%"> -->
            <!-- <mat-form-field appearance="outline">
                <input type="text" matInput placeholder="Email" name="email" formControlName="email" [required]="true"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                <mat-error *ngIf="data.email.errors?.required">Email is required</mat-error>
                <mat-error *ngIf="data.email.errors?.pattern">Email pattern should be like xyz@abc.com</mat-error>
              </mat-form-field>
</div> -->
            <div class="w100p" fxFlex="100%">
                <mat-form-field appearance="outline">
                    <input type="text" matInput placeholder="new Password" name=" password" formControlName="password"  [required]="true">
                    <mat-error *ngIf="data.password.errors?.required">Password is required</mat-error>
                  </mat-form-field>
            </div>
            <div class="w100p" fxFlex="100%">
            <mat-form-field appearance="outline">
                <input type="text" matInput placeholder="Confirm Password" name="confirmpassword" formControlName="confirmpassword"  [required]="true">
                <mat-error *ngIf="data.confirmpassword.errors?.required">confirmpassword is required</mat-error>
              </mat-form-field>
              </div>
        </div>
      


<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center center">
    <div class="w100p" fxFlex="60%" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" type="submit">Submit</button>
  &nbsp;
  <button mat-raised-button color="primary" (click)="closeDialog()">Cancel</button>
        </div>
   
</div>
</div>
</form>