

.topbar{
    height: 80px; 
    line-height: 80px;
    background-repeat: none;
    background-size: cover;
    color: silver;
background-color: #400040;
  }
.alignHeight{
  line-height: 80px;
}
 
.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}