
.topbar{
    height: 80px; 
    line-height: 80px;
    background-repeat: none;
    background-size: cover;
    color: silver;
background-color: #400040;
  }
.alignHeight{
  line-height: 80px;
}
 
.fill-remaining-space {
  flex: 1 1 auto;
}

mat-toolbar{
  display: initial;
   background-color: initial; 
   color: initial;
}