.mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .w100p{
    width: 100%;
  }
  .main-content{
    padding: 10px;
    max-height: calc(100vh - 85px);
    overflow-x: hidden;
    overflow-y: auto;
  }
  .mnt10{
      background-color: blue;
      color: #fff;
  }
  mat-radio-button{
      margin-right: 40px;
  }

  ul> li {
      list-style-type: none;
  }