<div id="content" class="main-content">
    <form [formGroup]="registerForm" (submit)="uploadSubmit($event)">
        <mat-card> 
        <div class="alignItems">
     <h3 style="text-align: center;">Create Patient Profile</h3>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center center">
            <div class="w100p" fxFlex="30%">
         <mat-label>FirstName:</mat-label>
            <mat-form-field appearance="outline">
                <input type="text" matInput placeholder="FirstName" name="firstName" formControlName="firstName">
                <mat-error *ngIf="data.firstName.errors?.required">FirstName is required</mat-error>
              </mat-form-field>
              </div>
              <div class="w100p" fxFlex="30%">
                  <mat-label>LastName:</mat-label>
              <mat-form-field appearance="outline">
                <input type="text" matInput placeholder="LastName" name="lastName" formControlName="lastName">
                <mat-error *ngIf="data.lastName.errors?.required">LastName is required</mat-error>
              </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center center">
               
                <div class="w100p" fxFlex="30%">
             
                    <mat-form-field style="width: 90%;"> 
                        <input matInput [matDatepicker]="dateOfBirth" name="dateOfBirth" formControlName="dateOfBirth"
                      placeholder="DOB"  [required]="true">
                        <mat-datepicker-toggle matSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
                        <mat-datepicker #dateOfBirth></mat-datepicker>
                        <mat-error *ngIf="data.dateOfBirth.errors?.required">Date Of Birth is required</mat-error>
                
                      </mat-form-field>
                    </div>
                    
                      <div class="w100p" fxFlex="30%">
                        <h6>Gender:</h6>
                        <mat-radio-group class="example-radio-group" name="gender" formControlName="gender" (change)="selectGender($event)" required>
                            <mat-radio-button class="example-radio-button" *ngFor="let genders of GenderDetails" [value]="genders">
                              {{genders}}
                            </mat-radio-button>
<mat-error style="font-size:75%;" *ngIf="message">{{message}}</mat-error>
                          </mat-radio-group>
                  </div>
                
                </div>
                  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center center">
                <div class="w100p" fxFlex="30%">
             <mat-label>Mobile:</mat-label>
                <mat-form-field appearance="outline">
                    <input type="text" matInput placeholder="Mobile" name="mobile" formControlName="mobile">
                    <mat-error *ngIf="data.mobile.errors?.required">Mobile is required</mat-error>
                  </mat-form-field>
                  </div>
                  <div class="w100p" fxFlex="30%">
                      <mat-label>Email:</mat-label>
                  <mat-form-field appearance="outline">
                    <input type="text" matInput placeholder="Enter Email" name="email" formControlName="email">
                    <mat-error *ngIf="data.email.errors?.required">Email is required</mat-error>
                  </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center center">
                  <div class="w100p" fxFlex="30%">
               <mat-label>State:</mat-label>
                  <mat-form-field appearance="outline">
                      <input type="text" matInput placeholder="Enter State" name="state" formControlName="state">
                      <mat-error *ngIf="data.state.errors?.required">state is required</mat-error>
                    </mat-form-field>
                    </div>
                    <div class="w100p" fxFlex="30%">
                        <mat-label>Country:</mat-label>
                    <mat-form-field appearance="outline">
                      <input type="text" matInput placeholder="country" name="country" formControlName="country">
                      <mat-error *ngIf="data.country.errors?.required">country is required</mat-error>
                    </mat-form-field>
                    </div>
                  </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center center">
               
                    <div class="w100p" fxFlex="60%">
                 <mat-label>Address:</mat-label>
                        <mat-form-field appearance="outline">
                            <textarea matInput rows="2" cols="40"
                               placeholder="Address" 
                             name="address" formControlName="address"
                             >
                            </textarea>
                            <mat-error *ngIf="data.address.errors?.required">Address is required</mat-error>
                          </mat-form-field> 
                    
                    </div>
            </div>

            <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center center">
               
              <div class="w100p" fxFlex="60%">
           <mat-label>Reasons:</mat-label>
                  <mat-form-field appearance="outline">
                      <textarea matInput rows="10" cols="40"
                         placeholder="Mention Reasons" 
                       name="reason" formControlName="reason"
                       >
                      </textarea>
                      <mat-hint align="end">Mention Reasons if any disease</mat-hint>
                      <mat-error *ngIf="data.reason.errors?.required">reason is required</mat-error>
                    </mat-form-field> 
              
              </div>
      </div>
    
          
            <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center center">
                <div class="w100p" fxFlex="60%" fxLayoutAlign="center center">
                    <button mat-raised-button type="submit" color="primary">submit</button>
              &nbsp;
              <button mat-raised-button color="primary" (click)="resetData()" >cancel</button>
                    </div>
               
        </div>
        </div>
      
        </mat-card>
       
    </form>
    </div>
    
     
    
        