<div class="d-flex align-items-center h-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-5">
        <mat-card>
          <h3 class="text-center">Sign Up</h3>
          <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
            <mat-form-field class="full-width">
              <input type="text" matInput placeholder="Email" name="email" formControlName="email" [required]="true"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
              <mat-error *ngIf="data.email.errors?.required">Email is required</mat-error>
              <mat-error *ngIf="data.email.errors?.pattern">Email pattern should be like xyz@abc.com</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input type="password" matInput placeholder="Password" formControlName="password">
              <mat-error *ngIf="data.password.errors?.required">Password is required</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input type="password" matInput placeholder="confirmpassword" formControlName="confirmpassword" [required]="true">
              <mat-error *ngIf="data.confirmpassword.errors?.required">confirmpassword is required</mat-error>
              <!-- <span *ngIf="confirmMessage">confirmpassword is required</span> -->

            </mat-form-field>
            <div class="form-group mt-4 text-center">
              <button mat-raised-button color="primary" type="submit">Register</button>&nbsp;  <button mat-raised-button color="primary">Cancel</button>
            </div>
          
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>