<nav class="navbar navbar-expand-sm " style="   background-color: #400040; border: 1px solid black;
;">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav nav-list-item">
      <li class="nav-item">
        <a class="nav-link" routerLink="/requestConsult">Consultation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/patient/addpatient">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Logout</a>
      </li>
    
    </ul>
  </div>  
  </nav>

  