table {
    width: 100%;
  }

  .w100p{
    width: 100%;
  }
  .main-content{
    padding: 10px;
    max-height: calc(100vh - 85px);
    overflow-x: hidden;
    overflow-y: auto;
  }

  /* .active mat-tab {
      color: red;
  } */
.mat-tab-label-active{
    color:red
}
