<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal data
      </mat-panel-title>
      
    </mat-expansion-panel-header>

    <div id="content" class="main-content">
      <form [formGroup]="registerForm" (submit)="uploadSubmit($event)">
        <mat-card> 
          <div class="alignItems">
            <h3 style="text-align: center;">Edit Profile</h3>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center center">
              <div class="w100p" fxFlex="30%">
                <mat-label>First Name:</mat-label>
                <mat-form-field appearance="outline">
                  <input type="text" matInput placeholder="FirstName" name="firstName" formControlName="firstName" [(ngModel)]="patienData.firstName" [required]="true">
                  <mat-error *ngIf="data.firstName.errors?.required">First Name is required</mat-error>
                </mat-form-field>
              </div>
              <div class="w100p" fxFlex="30%">
                <mat-label>Last Name:</mat-label>
                <mat-form-field appearance="outline">
                  <input type="text" matInput placeholder="LastName" name="lastName" formControlName="lastName" [(ngModel)]="patienData.lastName" [required]="true">
                  <mat-error *ngIf="data.lastName.errors?.required">Last Name is required</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center center">
              <div class="w100p" fxFlex="30%">
                <mat-form-field style="width: 90%;"> 
                  <input matInput [matDatepicker]="dateOfBirth" name="dateOfBirth" formControlName="dateOfBirth"
                    placeholder="DOB"  [(ngModel)]="patienData.dateOfBirth" [required]="true">
                  <mat-datepicker-toggle matSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
                  <mat-datepicker #dateOfBirth></mat-datepicker>
                  <mat-error *ngIf="data.dateOfBirth.errors?.required">Date Of Birth is required</mat-error>
                </mat-form-field>
              </div>   
              <div class="w100p" fxFlex="30%">
                <h6>Gender:</h6>
                <mat-radio-group class="example-radio-group" name="gender" formControlName="gender" (change)="selectGender($event)" [(ngModel)]="GenderDetails" [required]="true">
                  <mat-radio-button class="example-radio-button" *ngFor="let genders of GenderDetails" [value]="genders.key" [checked]="genders.checked">
                    {{genders.key}}
                  </mat-radio-button>
                  <mat-error style="font-size:75%;" *ngIf="message">{{message}}</mat-error>
                </mat-radio-group>
              </div>                    
            </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center center">
                      <div class="w100p" fxFlex="30%">
                        <mat-label>Email:</mat-label>
                        <mat-form-field appearance="outline">
                          <input type="text" matInput placeholder="Email" name="email" formControlName="email" [required]="true"  [(ngModel)]="patienData.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                          <mat-error *ngIf="data.email.errors?.required">Email is required</mat-error>
                          <mat-error *ngIf="data.email.errors?.pattern">Email pattern should be like xyz@abc.com</mat-error>
                        </mat-form-field>
                
                    </div>
                      <div class="w100p" fxFlex="30%">
               <mat-label>Mobile:</mat-label>
                  <mat-form-field appearance="outline">
                      <input type="text" matInput placeholder="Mobile" name="mobile" formControlName="mobile" [required]="true" type="number"
                      pattern="[0-9]*"  onkeypress="return event.charCode >= 48 && event.charCode <= 57" [(ngModel)]="patienData.mobile">
                      <mat-error *ngIf="data.mobile.errors?.required">Mobile is required</mat-error>
                      <mat-error *ngIf="data.mobile.touched && data.mobile.invalid && data.mobile.errors?.pattern">Email pattern should be like xyz@abc.com</mat-error>
  
                      
                    </mat-form-field>
                    </div>
                    
                  </div>
                  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center center">
                    <div class="w100p" fxFlex="30%">
                 <mat-label>State:</mat-label>
                    <mat-form-field appearance="outline">
                        <input type="text" matInput placeholder="State" name="state" formControlName="state" [required]="true" [(ngModel)]="patienData.state">
                        <mat-error *ngIf="data.state.errors?.required">state is required</mat-error>
                      </mat-form-field>
                      </div>
                      <div class="w100p" fxFlex="30%">
                          <mat-label>Country:</mat-label>
                      <mat-form-field appearance="outline">
                        <input type="text" matInput placeholder="Country" name="country" formControlName="country" [required]="true" [(ngModel)]="patienData.country">
                        <mat-error *ngIf="data.country.errors?.required">country is required</mat-error>
                      </mat-form-field>
                      </div>
                    </div>
                  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center center">
                 
                      <div class="w100p" fxFlex="60%">
                   <mat-label>Address:</mat-label>
                          <mat-form-field appearance="outline">
                              <textarea matInput rows="2" cols="40"
                                 placeholder="Address" 
                               name="address" formControlName="address" [required]="true" [(ngModel)]="patienData.address"
                               >
                              </textarea>
                              <mat-error *ngIf="data.address.errors?.required">Address is required</mat-error>
                            </mat-form-field> 
                      
                      </div>
              </div>
  
            
      
            
              <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center center">
                  <div class="w100p" fxFlex="60%" fxLayoutAlign="center center">
                      <button mat-raised-button type="submit" color="primary">submit</button>
                &nbsp;
                <button mat-raised-button color="primary" (click)="resetData()" >cancel</button>
                      </div>
                 
          </div>
          </div>
        
          </mat-card>
         
      </form>
      </div>
    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Previous Treatment or Condition
      </mat-panel-title>
      
    </mat-expansion-panel-header>

    <mat-label>Medical History:</mat-label>
    <mat-form-field appearance="outline">
      <textarea matInput rows="10" cols="40" placeholder="Mention Medical History" 
        name="reason" formControlName="reason"  [(ngModel)]="patienData.reason">
      </textarea>
      <mat-hint align="end">Mention Medical History</mat-hint>
      <mat-error *ngIf="data.reason.errors?.required">Medical History is required</mat-error>
    </mat-form-field>
    <mat-label>Previous Treatment:</mat-label>
    <mat-form-field appearance="outline">
      <textarea matInput rows="10" cols="40" placeholder="Previous Treatment" 
        name="reason" formControlName="reason"  [(ngModel)]="patienData.reason">
      </textarea>
      <mat-hint align="end">Mention Previous Treatment</mat-hint>
      <mat-error *ngIf="data.reason.errors?.required">Medical History is required</mat-error>
    </mat-form-field>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Medical Reports
      </mat-panel-title>
      
    </mat-expansion-panel-header>

    <div class="w100p" fxFlex="60%">
      <p> Last Treatment Prescription or Discharge Sheet.</p>
      <p> Echo Cardiography Report</p>
      <p> CT Scan Report</p>
      <p> Angiogram Report</p>
      <p> MRI report</p>
      <p> Other report</p>
    </div>

    

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">End</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
